#### 1번
s = 'He there Sam!'을 입력하고 ['Hi','there','dad!']가 나오도록 코딩하세요

In [64]:
s = 'He there Sam!'
print(s)

He there Sam!

In [65]:
s = s.split()

In [66]:
s

['He', 'there', 'Sam!']

In [67]:
s[2]='dad!'

In [68]:
s

['He', 'there', 'dad!']

#### 2번
아래 내용을 입력하고,The diametre of Earth is 12742 kilometeres.가 출력되도록 하세요.

planet = 'earth'dianeter = 12742

In [9]:
planet = 'earth'
dianeter = 12742

In [12]:
"The dianetre of {} is {} kilometeres".format(planet,dianeter)

'The dianetre of earth is 12742 kilometeres'

#### 3번
아래 내용을 입력하고, 'hello'가 출력되도록 하세요.

lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [13]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [1]:
lst[3][1][2][0]

NameError: name 'lst' is not defined

In [2]:
an = [1,2,3,[4,5,[6]]]

In [3]:
d = {'k1':[1,2,3,{'criky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [4]:
d["k1"][3]["criky"][3]["target"][3]

'hello'

4번
아래를 입력하고'hello'가 출력되도록 하세요.

d = {'k1':[1,2,3,{'criky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [2]:
d = {'k1':[1,2,3,{'criky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [9]:
d["k1"][3]["criky"][3]["target"][3]

'hello'