Data Type

numbers

In [2]:
1+1

2

In [3]:
1*3

3

In [5]:
1/2

0.5

In [6]:
2**4

16

In [7]:
4%2

0

In [8]:
5%2

1

In [9]:
(2+3) * (5+5)

50

In [10]:
# Can not start with munber or special chataoters
# 변수는 숫자나 특수문자롤 시작할 수 없다.
name_of_var = 2

In [22]:
name_of_var

2

In [13]:
x = 2
y = 3

In [14]:
z = x +y

In [17]:
z

5

In [15]:
1/2
# pthon 나누기

0.5

In [16]:
2**4
#2의 4승

16

Strings <- Markdown으로 문자 입력

In [18]:
'single quotes'
# 단 따움표

'single puotes'

In [19]:
"double quotes"
# 쌍따움표

'double puotes'

In [20]:
"wrap lot's of other qutes"
# 파이썬에서는 space를 문자로 인식한다.

"wrap lot's of other qutes"

In [23]:
x = 'hello'

In [24]:
x

'hello'

In [25]:
print(x)

hello

In [26]:
num = 12
name = 'Sam'

In [30]:
print('My number is: {one}, and ny name in: {two}'.format(one=num,two=name))

My number is: 12, and ny name in: Sam

In [31]:
print('My number is: {}, and my name is:{}'.format(num,name))

My number is: 12, and my name is:Sam

In [35]:
num1 = 18
name1 = '안윤지'

In [36]:
print("나이는 : {one}, 그리고 이름은 {two}".format(one = num1,two = name1 ))

나이는 : 18, 그리고 이름은 안윤지

In [38]:
print("나이는 : {}, 그리고 이름은 {}".format(num1, name1 ))

나이는 : 18, 그리고 이름은 안윤지

Lists

In [39]:
[1,2,3]

[1, 2, 3]

In [40]:
['hi',1,[1,2]]

['hi', 1, [1, 2]]

In [42]:
my_list = ['a','b','c']

In [51]:
my_list.append('d')

In [52]:
my_list

['a', 'b', 'c', 'd']

In [53]:
my_list[0]

'a'

In [54]:
my_list[1]

'b'

In [55]:
my_list[1:]

['b', 'c', 'd']

In [57]:
my_list[0]

'a'

In [58]:
my_list[1]

'b'

In [59]:
my_list[1:]

['b', 'c', 'd']

In [60]:
my_list[:1]

['a']

In [61]:
my_list[0] = "NEV"

In [62]:
my_list

['NEV', 'b', 'c', 'd']

In [64]:
nest = [1,2,3,[4,5,['target']]]

In [65]:
nest[3]

[4, 5, ['target']]

In [66]:
nest[3][2]

['target']

In [67]:
nest[3][2][0]

'target'

Dictionaries

In [1]:
d = {'key1':'item1','key2':'item2'}
# 매핑(Mapping)
# 데이터이름 : 데이터 내용

In [2]:
d

{'key1': 'item1', 'key2': 'item2'}

In [4]:
d['key1']

'item1'

In [5]:
d['key2']

'item2'

Booleans : 참과 거짓을 표현하느 데이터 형태

In [8]:
True
# 1

True

In [9]:
False
# 0

False

Tuples

In [10]:
t = (1,2,3)

In [14]:
t[0]
#index

1

In [12]:
t[2]

3

Sets

In [15]:
{1,2,3}

{1, 2, 3}

In [16]:
{1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}
#set이라는 데이터 타입은 중복을 허용하지 않는다.

{1, 2, 3}

Comparison Operators : 비교 연산자

In [17]:
1 > 2

False

In [18]:
1 < 2

True

In [25]:
1 >= 1
# > or = ,두 조건 중 하나만 성립하면 True

True

In [20]:
1 <= 4

True

In [26]:
1 == 1
#  = 대입연산자
# == 같다.

True

In [23]:
'hi' == 'bye'

False

Logic Operators : 논리연산자

In [27]:
(1 > 2) and (2 < 3)
# and 는 둘 다 참이여야만 참이다

False

In [28]:
(1 > 2) or (2 < 3)
# or 는 둘 중 하나만 참이면 된다

True

In [29]:
(1 == 2) or (2 == 3) or (4 == 4)
# 3개(항의 개수) 중 하나만 참이면 참이다

True

if,elif,else Statements

In [35]:
if 1 < 2:
    print('Yep!')

Yep!

In [42]:
if 1 < 2: # true
    print('first')
else: # true가 아닐경우, if문 조건에 맞지 않을 경우
    print('last')

first

In [37]:
if 1 > 2: 
    print('first')
else:
    print('last')
# if 문이 실행되는 조건은 1 > 2 이어야 하는데, 1은 2보다 크지 않으므로. if문이 실행되지 않고, else문이 실행됩니다.

last

In [40]:
if 1 == 2: 
    print('first') 
else: 
    print('last')

last

In [41]:
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('Last')

middle

for Loops

In [43]:
seq = [1,2,3,4,5]

In [44]:
for item in seq:
    print(item)

1
2
3
4
5

In [45]:
for ltem in seq:
    print('Yep')

Yep
Yep
Yep
Yep
Yep

In [47]:
for jelly in seq:
    print(jelly+jelly)

2
4
6
8
10

In [48]:
for a in seq:
    print(a)

1
2
3
4
5

while Loops

In [50]:
i = 1
while i < 5: # 1,2,3,4 까지 실행됨
    print('i is: {}'.format(i)) #{}에 i를 넣는다.
    i = i+1 # 그 후 i에 1을 더한다.

i is: 1
i is: 2
i is: 3
i is: 4

range()

In [51]:
range(5) # 0부터 5개.

range(0, 5)

In [52]:
for i in range(5):
    print(i)

0
1
2
3
4

list comprehension

In [53]:
x = [1,2,3,4]

In [54]:
out = [] # list를 선언한다
for item in x:
    out.append(item**2) # out이라는 이름의 list에 괄호 안에 내용을 추가해라.
print(out)

[1, 4, 9, 16]

In [55]:
[item**2 for item in x]

[1, 4, 9, 16]

In [56]:
[item**2 for item in x] # x안에 있는 내용을 차례대로 item이라는 이름으로 뽑는다. 그런 후에 item**2의 내용으로 list에 체워 넣는다.

[1, 4, 9, 16]

functlons

In [3]:
# def 는 함수 명 앞에 놓여서 함수를 정의한다는 뜻.
# (param1 = "default")는 parameter, 함수를 실행할 때 파라미터가 입력값으로 들어가 실행된다.
# 함수 내부에서 주석으로 처리하고자 하는 부분은 """로 시작하여"""로 끝내면 된다. 해당 사항은 함수 내용에 영향을 미치지 않는다.
# my_func라느 함수는 스트링(String) 형태를 param1에 저장하여 param1를 프린트하는 기능을 가졌다.
def my_func(param1 = "default"):
    """
    Docstring goes hete
    """
    print(param1)

In [6]:
my_func

In [7]:
my_func()

default

In [8]:
# 함수 my_func를 통해서 파라미터에게 들어가 있는 string형태의 데이터를 print하게 된다.
my_func(param1 = 'new param')

new param

In [11]:
# aquare라는 이름의 함수는 숫자 하나를 받아들여서 그 숫자를 제곱값을 내 놓는 가능을 한다.
def square(x):
    return x**2

In [12]:
# square라는 함수에 2라는 숫자를 파라미터로 넣어서 그결과값을 out이라는 변수에 담아 둔다.
out = square(2)

In [13]:
# out에 담긴 2**2가 출력된다.
print(out)

4

In [24]:
times2 = 4

In [25]:
def times2(y):
    return y*2

In [27]:
times2(2)

4

In [28]:
# seq라는 이름의 변수에 [1,2,3,4,5]라는 리스트를 넣는다.
seq = [1,2,3,4,5]

In [29]:
# seq에 있는 리스트 내용의 전체를 앞에서 분터 하나씩 tines2라는 함수의 파라미터로 넣어서 list 형태로 출력해준다.
# map는 괄호 안에 첫번째 나오는 함수 times2와 seq를 하나씩 짝지어주는 내장함수이다.
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [30]:
# lambda함수의 뒤에 오는 두가지 a : a*2 는 a를 input으로 받아서 a*2 output으로 내 놓으라는 뜻이다. 
list(map(lambda var: var*2, seq))

[2, 4, 6, 8, 10]

In [32]:
# fliter는 조건에 맞는 부분만 출력해주는 것이다. 그래서 item이라는 변수에 seq의 리스트 내용 중 앞에서부터 하나씩 넣었을 때
# 해당 item을 2로 나눈 나머지가 0인 것만 빼서 출력해준다.
list(map(lambda var: var*3, seq))

[3, 6, 9, 12, 15]

In [33]:
list(map(lambda var: var*0.5, seq))

[0.5, 1.0, 1.5, 2.0, 2.5]

In [34]:
list(map(lambda var: var*2, seq[0:2]))

[2, 4]

In [41]:
st = 'hello my name is yoonji'

In [42]:
st.lower()

'hello my name is yoonji'

In [43]:
st.upper()

'HELLO MY NAME IS YOONJI'

In [44]:
st.split()

['hello', 'my', 'name', 'is', 'yoonji']

In [45]:
tweet = 'Go Sports! #Sports'

In [49]:
tweet.split('#')

['Go Sports! ', 'Sports']

In [68]:
tweet.split("#")[1]

'Sports'

In [5]:
t = lambda var: var*2

In [6]:
t(6)

12

In [8]:
dic1 = {'a':1, 'b':2, 'c':3}

In [10]:
dic1
# dic1은 doctionary라는 형태의 테이터 타입
#dictionary의 데이터는 key와 value (itme)로 구성되어 있다.

{'a': 1, 'b': 2, 'c': 3}

In [11]:
dic1.keys()

dict_keys(['a', 'b', 'c'])

In [12]:
dic1.items()

dict_items([('a', 1), ('b', 2), ('c', 3)])

In [13]:
dic1.values()

dict_values([1, 2, 3])

In [14]:
lst = {1,2,3,4,5,6,7}

In [15]:
pops = lst.pop()

In [16]:
pops

1

In [17]:
lst = [1,2,3,4,5,6,7]

In [18]:
popednumber = lst.pop()

In [19]:
popednumber

7

In [20]:
popednumber1 = lst.pop()

In [21]:
popednumber1

6

In [22]:
lst

[1, 2, 3, 4, 5]

In [23]:
lst.pop()

5

In [24]:
lst

[1, 2, 3, 4]

In [39]:
lst1=[1,2,3,4]

In [40]:
popednumber2 = lst1.pop(0)

In [41]:
popednumber2

1

In [43]:
lst1

[2, 3, 4]

In [44]:
popednumber3 =lst1.append('new')

In [45]:
lst1

[2, 3, 4, 'new']

In [46]:
'x'in [1,2,3]
# 'x'가 [1,2,3] 안에 없으니 False

False

In [47]:
'x' in ['x','y','z']
#'x'가 ['x','y','z']안에 있으니 True

True

In [217]:
x = [(1,2),(3,4),(5,6)]

In [65]:
x[0]

(1, 2)

In [68]:
x[0][1]

2

In [218]:
 for i in (x):
    print(i)

(1, 2)
(3, 4)
(5, 6)

In [219]:
for (a,b) in x:
    print(b)

2
4
6

In [220]:
for (a,b) in x:
    print(a)
    print(b)

1
2
3
4
5
6